
.debug {
  border: 1px solid black;
}

.debug-a {
  background-color: aquamarine;
}

.container_m {
  width: 60%;
}

:root {
  --bg-green: #19BC9D;
}

header nav {
  background-color: #2C3E50;
  height: 90px;
}

header .navbar-custom a {
  color: white;
  text-transform: uppercase;
}


header .navbar-brand {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}


/* JUMBOTRONE */

.jumbotrone {
  color: white;
  background-color: var(--bg-green);
}

.jumbotrone img {
  width: 250px;
}

.jumbotrone h1 {
  font-size: 2.5rem;
}

.jumbotrone p {
  font-size: 1.1rem;
}


/* PORTFOLIO */

.portfolio col:hover {
  background-color: rgba(0, 0, 0, 0.549);

}
.portfolio img {
  width: 100%;
}

.portfolio .col .layover {
  display: none;
}

.portfolio .col:hover .layover {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 60px;
  background-color: #0000007a;
}


/* ABOUT */

.about {
  color: white;
  background-color: var(--bg-green);
}

.about p {
  font-size: 1.3rem;
}

.about i,
.about span {
  font-size: 1.2rem;
}


/* CONTACT */

.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.button-custom {
  background-color: var(--bg-green);
  border: none;
}

.button-custom:hover {
  background-color: rgba(0, 128, 0, 0.8);
}