
.debug {
  border: 1px solid black;
}

.debug-a {
  background-color: aquamarine;
}

.container_m {
  width: 60%;
}

:root {
  --bg-green: #19BC9D;
}

.bg-blue {
  background-color: #2C3F51;
}

.bg-lightblue {
  background-color: #3A556D;
}

.star i {
  font-size: 1.8rem;
}




header nav {
  height: 90px;
}

header .navbar-custom p,
header .navbar-custom a {
  color: white;
  text-transform: uppercase;
}

header .navbar-custom p {
  font-size: 1.5rem;
  font-weight: bold;
}


header .navbar-brand {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2, h3, h1 {
  text-transform: uppercase;
}

/* JUMBOTRONE */

.jumbotron {
  color: white;
  background-color: var(--bg-green);
}

.jumbotron img {
  width: 250px;
}

.jumbotron h1 {
  font-size: 2.5rem;
}

.jumbotron p {
  font-size: 1.1rem;
}

.jumbotron .bar {
  height: 5px;
  width: 40%;
  background-color: white;
}


/* PORTFOLIO */

.portfolio img {
  width: 100%;
}

.portfolio .col .layover {
  display: none;
}

.portfolio .col:hover .layover {
  display: flex;
}

.portfolio .col .layover {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 60px;
  background-color: #0000007a;
}

.portfolio .bar {
  height: 5px;
  width: 40%;
  background-color: #3A556D;
}


/* ABOUT */

.about {
  color: white;
  background-color: var(--bg-green);
}

.about p {
  font-size: 1.3rem;
}

.about .bar {
  height: 5px;
  width: 40%;
  background-color: white;
}

.about .row .col p {
  text-align: left;
}

/* CONTACT */

.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  font-size: 1.2rem;
}

.form {
  color: #2C3E50;
}

.button-custom {
  background-color: var(--bg-green);
  border: none;
}

.button-custom:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

.contact .bar {
  height: 5px;
  width: 40%;
  background-color: #3A556D;
}


/* FOOTER */

footer .row .col {
  color: white;
}

footer .row .col p {
  font-size: 1.3rem;
}

footer .row .col ul {
  padding: 0;
}

footer .row .col li {
  list-style: none;
}

footer .row .col li a {
  background-color: transparent;
  border-color: white;
}

footer .row .col:last-child a {
  text-decoration: none;
  color: var(--bg-green);
}


/* COPYRIGHT */

.copyright {
  height: 90px;
  color: white;
}



/* 
****************************
        MEDIA QUERY
**************************** */

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron p {
    font-size: 1.8rem;
  }
}